<div class="nav-logo">
  <a href="https://discord.gg/YrxREuV">
    Raze Of Braze
  </a>
</div>
<div class="nav-main">
  <ul (click)="this.navState.setNavState = false" class="nav-list">
    <li [class]="{'nav-item': true,
    'nav-active': this.navState.currentPath === '/'}">
      <button routerLink="/"><span class="nav-item__ico"><i class="fa-solid fa-chart-line"></i></span><span
        class="nav-item__text" i18n>Main page</span></button>
    </li>
    <li [class]="{'nav-item': true,
    'nav-active': this.navState.currentPath === '/admin'}">
      <button routerLink="/admin"><span class="nav-item__ico"><i class="fa-regular fa-calendar-days"></i></span><span
        class="nav-item__text" i18n>Control panel</span></button>
    </li>
  </ul>
  <app-locale-btn></app-locale-btn>
  <app-theme-btn></app-theme-btn>
  <div class="social">
    <a class="btn" href="https://discord.gg/YrxREuV"><i class="socialBtn fab fa-discord svg-fa"></i></a>
    <a class="btn" href="https://t.me/raze_of_braze"><i class="socialBtn fab fa-telegram svg-fa"></i></a>
    <a class="btn" href="https://github.com/MuffinKing-jpeg"><i class="socialBtn fab fa-github svg-fa"></i></a>
  </div>
</div>
<div (click)="this.toggleNavState()" [class]="{'nav-btn': true, 'active': this.navState.isNavActive}">
  <i class="fa-solid fa-angles-right"></i>
</div>

