<div class="placeholder-container">
  <h2 class="placeholder-heading" i18n>Under construction</h2>
  <p class="placeholder-body" i18n>Page <span class="accent">{{this.currentLocation.currentPath}}</span> under construction.
    You can reach us in social
    networks.</p>
  <p class="social">
    <a class="btn" href="https://discord.gg/YrxREuV"><i class="socialBtn fab fa-discord svg-fa"></i></a>
    <a class="btn" href="https://github.com/MuffinKing-jpeg"><i class="socialBtn fab fa-github svg-fa"></i></a>
  </p>
</div>
